# Database
DATABASE_URL="postgresql://user:password@localhost:5432/lifealign?schema=public"

# NextAuth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# For production:
# NEXTAUTH_URL="https://your-domain.com"
